{% extends 'base.html.twig' %}
{% block body %}
<a class="btn btn-primary btn-lg" href="administration/newarticle" role="button">Crée un article</a>
<a class="btn btn-primary btn-lg" href="administration/newtag" role="button">Crée un tag</a>
<a class="btn btn-primary btn-lg" href="administration/newcategory" role="button">Crée une catégorie</a>
{% endblock %}